/* Style inputs */
button[icon="dashicons-trash"] {
	background-color: #f58e8e;
	box-shadow: 0 1px 0 #cf5353;
	border-color: #d13b3b;
	color: #353535;
}

.bia-table {
	margin-top: 20px;
}

.bia-delivery-checkbox {
	margin-bottom: 5px;
}

.bia-delivery-checkbox input {
	display: inline-block;
	margin-left: 20px;
}

.bia-delivery-checkbox p {
	display: inline;
}

@media only screen and (max-width: 840px) {
	.bia-table {
		margin-bottom: 0;
		overflow: hidden;
		overflow-x: scroll;
		overflow-y: scroll;
		display: block;
		white-space: nowrap;
	}
}
